.thumbnail {
    margin: 5px 0 !important;
}

.inner-header {
    color: #FFF;
}
item {
    max-height: 250px;
}
.btn-add{
        width: 120px;
        height: 30px;
        background-color:  #011f03;
        color: #FFF;
        margin: 3%;
        border-color: #ffffff;
}
.seach{
    text-align: right;
}
.reset{
    width: 120px;
    height: 30px;
    background-color:  #011f03;
    color: #FFF;
    margin: 3%;
    border-color: #ffffff;
   object-position: 0%;
}