.thumbnail {
    margin: 5px 0 !important;
}

.inner-header {
    color: #FFF;
}
<<<<<<< HEAD
item {
    max-height: 250px;
}
.btn-add{
        width: 120px;
        height: 30px;
        background-color:  #011f03;
        color: #FFF;
        margin: 3%;
        border-color: #ffffff;
}
=======
>>>>>>> b348c13dbd64433e8393b9532c59c2d06f4cd393
